aiofiles
aiohttp
aliyun-python-sdk-core
aliyun-python-sdk-kms
anyio
async-timeout
attrs
av
certifi
cffi
charset-normalizer
click
colorama
ctranslate2
datasets
ema-pytorch
encodec
exceptiongroup
fastapi
faster-whisper
ffmpy
filelock
Flask
Flask-Cors
fsspec
funasr
google-api-core
google-auth
gradio
gradio_client
httpcore
httpx
huggingface-hub
jieba
librosa
matplotlib
multidict
multiprocess
numba==0.60.0
numpy==1.23.5
omegaconf==2.3.0
onnxruntime==1.19.2
pandas==2.2.3
pillow==11.0.0
pypinyin==0.53.0
regex==2024.9.11
requests
torch==2.5.0
torch-complex==0.4.4
torchaudio==2.5.0
torchdiffeq==0.2.4
transformers==4.45.2
waitress
zhconv
zhon
